.element-main {
    width: 50%;
    border: 1px solid black;
    margin: auto auto;
    overflow: hidden;
}

.element-head {
    width: 20%;
    border-width: 3px;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.20);
    background-color: #eee;
    float: left;
}

.element-head h1 {
    margin: 0 auto;
}

.element-head p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}

.element-body {
    float: right;
    display: grid;
    margin: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    width: 60%;
}

.element-body p {
    margin: 0 auto;
    font-size: 16px;
}